version: "3.1"

services:
  api:
    build: .
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      NODE_ENV: ${NODE_ENV}
      DATABASE_URL_DEV: ${DATABASE_URL_DEV}
      DATABASE_URL: ${DATABASE_URL}

  db:
    image: "postgres"
    ports:
      - "5432:5432"
    restart: "always"
    environment:
      TZ: "Europe/Warsaw"
      POSTGRES_PASSWORD: "example"
      POSTGRES_USER: "postgres"
      POSTGRES_DB: "adswap"
    volumes:
      - pgdata:/var/lib/postgresql/data

  adminer:
    image: "adminer"
    ports:
      - "8888:8080"
    restart: "always"
    environment:
      TZ: "Europe/Warsaw"

volumes:
  pgdata:
